body{
    background-image: url(brickwall.jpg);
    
    font-size: 20px;
    font-family: didot serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
h1{
    font-size: 5em;
    color:whitesmoke;
    text-shadow: 0 0 10px #ff8800;;
    
    transition: 0.5s;
    padding-top: 20%;

}
 
h1:hover{
    transform: scale(1.3);
}

.contenair{
    border-style: hidden;
    border-radius: 5px;
    padding: 20px;
    background-color: hsl(39, 77%, 83%,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#text{
    color: black;
    text-align: center ;
}
#facebook{
    border-style: hidden;
    border-radius: 5px;
    padding: 10px;
    background-color:black;
    color: white;
    text-decoration: none;
    width: 30%;
    justify-content: center;
    text-align: center;
    transition: all 450ms;    
   
}

#facebook:hover {
    font-style: italic;
    transform: scale(1.3);
}
#facebook:visited {
    color:blueviolet;
}   