body{
    background-image: url(brickwall.jpg);
    
    font-size: 20px;
    font-family: didot serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
h1{
    font-size: 5em;
    color: white;
    padding-top: 20%;

}
section{
    border-style: hidden;
    border-radius: 5px;
    padding: 20px;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text{
    color: black;
    text-align: center ;
}
#facebook{
    border-style: hidden;
    border-radius: 5px;
    padding: 10px;
    background-color:black;
    color: white;
    width: 30%;
    justify-content: center;
    text-align: center;
    
    
}